@charset "utf-8";
/* CSS Document */
.btn>.glyphicon {
	margin-right: 3px;
}

.pagination.square {
	margin: 0; /* 去除外边距 */
}

.pagination.square>li>a, .pagination.square>li>span {
	margin: 0 5px;
	border: 1px solid #dddddd; /* 设置所有的边框都为1像素 */
}

.pagination.square>li:first-child>a, .pagination.square>li:first-child>span,
	.pagination.square>li:last-child>a, .pagination.square>li:last-child>span
	{
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px; /* 取消圆角 */
}

.pagination.red>li>a, .pagination.red>li>span {
	color: #f00;
	border: 1px solid #f00;
}

.pagination.red>li>a:hover, .pagination.red>li>span:hover, .pagination.red>li>a:focus,
	.pagination.red>li>span:focus {
	background-color: #fdd5d5;
}

.pagination.red>.active>a, .pagination.red>.active>span, .pagination.red>.active>a:hover,
	.pagination.red>.active>span:hover, .pagination.red>.active>a:focus,
	.pagination.red>.active>span:focus {
	color: #ffffff;
	background-color: #f00;
	border-color: #f00;
}

.pagination.red>.disabled>span, .pagination.red>.disabled>span:hover,
	.pagination.red>.disabled>span:focus, .pagination.red>.disabled>a,
	.pagination.red>.disabled>a:hover, .pagination.red>.disabled>a:focus {
	color: #fdd5d5;
	background-color: #ffffff;
	border-color: #f00;
}

.pagination.green>li>a, .pagination.green>li>span {
	color: #5aa414;
	border: 1px solid #5aa414;
}

.pagination.green>li>a:hover, .pagination.green>li>span:hover,
	.pagination.green>li>a:focus, .pagination.green>li>span:focus {
	background-color: #d8edc3;
}

.pagination.green>.active>a, .pagination.green>.active>span, .pagination.green>.active>a:hover,
	.pagination.green>.active>span:hover, .pagination.green>.active>a:focus,
	.pagination.green>.active>span:focus {
	color: #ffffff;
	background-color: #5aa414;
	border-color: #5aa414;
}

.pagination.green>.disabled>span, .pagination.green>.disabled>span:hover,
	.pagination.green>.disabled>span:focus, .pagination.green>.disabled>a,
	.pagination.green>.disabled>a:hover, .pagination.green>.disabled>a:focus
	{
	color: #d8edc3;
	background-color: #ffffff;
	border-color: #5aa414;
}

.table {
	margin-bottom: 10px;
}

th,td {
	width: 50px;
}